/* skills-component */
.skills-section {
  position: relative;
  display: grid;
  padding: 11rem 0;
  user-select: none;
}
.skills-section::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: var(--color-grey);
  justify-self: center;
  z-index: -1;
}
.skills__heading {
  font-size: 6.5rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 8.7rem;
}
.skills__list {
  font-size: 3.5rem;
  font-weight: var(--font-weight-semi-bold);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
}
.skills__coloumn:hover {
  text-shadow: 0 0 20px green;
}
.skill__years {
  font-size: 2rem;
  font-weight: var(--font-weight-regular);
}
/* end of skills component */
